.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    box-shadow: 0px 0px 6px rgba(0,0,0,.15);
    border-left: 3px solid green;

    min-width: 100px;

    padding: 20px;
    margin: 0 20px 20px 0;
}

.stat h3{
    font-size: 25px;
    color: green;
}

.stat > *{
    margin: 2px 0;
}