.familyMember{
    display: flex;
    justify-content: space-between;

    width: 95%;
    max-width: 1200px;

    margin: 0 auto;
}

.about{
    width: 38.5%;
    
}

.gallery{
    width: 58.5%;
}

.stats{
    display: flex;
    flex-wrap: wrap;
}