.header{
    height: 100vh;
    background: url('../../images/header/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.content{
    text-align: center;
    margin-bottom: 300px;
}