.header{
    height: 100vh;
    background: url('../../images/header/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}

@media screen and (max-width: 1200px){
    .header{
        margin-bottom: 0;
    }
}

.content{
    text-align: center;
    margin-bottom: 40vh;
}

.header p{
    margin: 0;
}

.thanks{
    width: 100vw;
}

@media screen and (max-width: 900px){
    .thanks{
        position: absolute;
        bottom: 50px;
    }
}

@media screen and (max-width: 600px){
    .header p{
        font-size: 14px;
        font-weight: bold;
    }
}