.component{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 200px auto;
}

@media screen and (max-width: 1000px){
    .component{
        margin: 0 auto 100px auto;
    }
}

.selectedImage{
    width: 100%;

    text-align: center;
}

.selectedImage img{
    width: 100%;
    border-radius: 20px;
}

.selectedImage p{
    margin: 10px 0 25px 0;
    font-weight: bold;
}

.gallery{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.gallery > div{
    width: 15%;

    padding-top: 15%;
    height: 0;
    overflow: hidden;

    border-radius: 20px;

    cursor: pointer;

    
}

@media screen and (max-width: 780px){
    .gallery{
        width: 100%;
    }
  }

  @media screen and (max-width: 600px){
    .gallery{
        flex-wrap: wrap;
        width: 60%;
    }
    .gallery > div{
        width: 31%;
        padding-top: 31%;
        margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 600px){
    .gallery{
        flex-wrap: wrap;
        width: 80%;
    }
    .gallery > div{
        width: 31%;
        padding-top: 31%;
        margin-bottom: 10px;
    }
  }

.unselected{
    opacity: 0.25;
}

.selected{
    opacity: 1;
}