.component{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 200px auto;
}

.selectedImage{
    width: 100%;

    text-align: center;
}

.selectedImage img{
    width: 100%;
    border-radius: 20px;
}

.selectedImage p{
    margin: 10px 0 25px 0;
}

.gallery{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.gallery > div{
    width: 15%;

    padding-top: 15%;
    height: 0;
    overflow: hidden;

    border-radius: 20px;

    cursor: pointer;

    
}

.unselected{
    opacity: 0.25;
}

.selected{
    opacity: 1;
}